# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# local env variables and settings
local.config.json

# ignore test results
junit.xml

# ignore coverage
coverage